  <!-- <div style="background-image: url('bridgelogo2.png');"></div> -->
  
<!--   background-repeat: no-repeat; 
  background-size: 100%; -->



<!-- Search Bar -->
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 col-md-offset-9" >
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
    

  <div class="container-fluid">
    <div class="row" id="logoline">
      <div class="col-md-8">
            <h1>San Francisco <br>Family Support Network</h1>
        </div>
    </div>
  </div>


    <div class="jumbotron">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-6 col-md-offset-1">
            <div class="jumbotron-content">

                <p class="lead">The San Francisco Family Support Network is a unique partnership of the stakeholders in the Family Support field: families, community-based organizations, public departments, and private foundations. The San Francisco Family Support Network was founded in June 2004, building on the San Francisco Starting Points Initiative's Strategic Plan for Supporting Families.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="leftbox" id="boxes">
            <h2>Membership</h2>
              <p>Membership blah blah blah about membership. Some short snippet, perhaps something from your current Membership tab. </p>
              <a class="learnmore" href="#">Learn more</a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="middlebox" id="boxes">
            <h2>Trainings</h2>
              <p>A basic summary of trainings, maybe something about how trainings at sffsn can help orgs apply to grants successfully, boost their careers, etc.</p>
              <a class="learnmore" href="#">Learn more</a>

          </div>
        </div>

        <div class="col-md-4">
          <div class="rightbox" id="boxes">
            <h2>Certifications</h2>
               <p>A basic summary of trainings, maybe something about how trainings at sffsn can help orgs apply to grants successfully, boost their careers, etc.</p>
              <a class="learnmore" href="#">Learn more</a>
          </div>
        </div>
      </div>
    </div>
