@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.top-bar {
  height: 7px;
  background: #FF613C;
  margin-bottom: 1px;
}

.navbar {
  margin-bottom:3px;
}

.navbar-brand {
  margin-top: 2px;
  padding: 3 px;
  border: 1 px;
}

.navbar-form navbar-left {
    right-margin: 50px;
}

.navbar-inverse .navbar-brand {
  padding-top:3px;
}

.navbar li:hover {
  color:#e7e7e7;
}

#search-bar-row {
  background-color: white;
}

.jumbotron {
  height: 150px;
  background-color: transparent;
  padding: 0px;
  border: 0px;
}

.jumbotron p{
  font-size:18px;
}

.jumbotron [class*="col-"] {
  margin-top: 1px;
  padding-bottom: 15px;
  overflow:auto;
  height:150px;
  background-color: transparent;
  border-bottom: 0px;
}

.jumbotron-content {
  color: #ffffff;
  font-size: 12px;
  text-shadow: 1px 1px #000000;
  text-align: justify;
}


#logoline h1{
  font-size:50px;
  text-align: center;
  font-weight: bold;
  color: #D93812;
  text-shadow: 2px 2px #000000;
  margin-bottom: 40px;
  margin-top: 0px;
}

.btn btn-lg btn-primary {
  color: #FFF6DB;
}

#boxes {
  color: #ffffff;
  background: #41D7D7;
  height: 200px;
  text-align: justify;
  text-shadow: 1px 1px #000000;
  margin-top: 85px;
  padding: 10px;
}

#boxes h2 {
  text-align: center;
}

.leftbox a.learnmore {
  position: absolute;
  bottom: 15px;
  left: 30px;  
  color: white;
  font-weight: bold;
}

.middlebox a.learnmore {
  position: absolute;
  bottom: 15px;
  left: 30px;  
  color: white;
  font-weight: bold;
}

.rightbox a.learnmore {
  position: absolute;
  bottom: 15px;
  left: 30px;  
  color: white;
  font-weight: bold;
}

/*body {
  background-image: image-url('bridgelogo2.png');
}*/

.trainings-background {
  background-color: teal;
}





