/*Dark Cyan  Hex Code #008B8B
RGB 0, 139, 139

Medium Jungle Green   Hex Code #1BB1B1
Spiro Disco Ball      Hex Code #OF93B2
Tufts Blue      Hex Code #41D7D7

Orange
Tomato  Hex Code #FF613C
UA Red  Hex Code # D93812
Coral      Hex Code #FF8062

Neutral

Lemon Hex Code # FFF6DB*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.top-bar {
  height: 5px;
  background: #D93812;
  margin-bottom: 1px;
}

.navbar {
  margin-bottom:3px;
}

.navbar-brand {
  margin-top: 2px;
  padding: 3 px;
  border: 1 px;
}

.navbar-form navbar-left {
    right-margin: 50px;
}

.navbar-inverse .navbar-brand {
  padding-top:3px;
}

.navbar li:hover {
  color:#e7e7e7;
}

#search-bar-row {
  background-color: white;
}

#headerstuff {
  background: #5a84fb;
}

.jumbotron {
  height: 350px;
  background-color: transparent;
  padding: 0px;
  border: 0px;
}

.jumbotron p{
  font-size:18px;
}

.jumbotron [class*="col-"] {
  margin-top: 1px;
  padding-bottom: 15px;
  overflow:auto;
  height:350px;
  background-color: transparent;
  border-bottom: 0px;
}

.jumbotron-content {
  color: #ffffff;
  font-size: 12px;
  text-shadow: 1px 1px #000000;
  text-align: justify;
}


#logoline h1{
  font-size:50px;
  text-align: center;
  font-weight: bold;
  color: #D93812;
  text-shadow: 2px 2px #000000;
  margin-bottom: 40px;
  margin-top: 0px;
}

.btn btn-lg btn-primary {
  color: #FFF6DB;
}

.boxcontainer {
  background-color: #FFF6DB;
  margin-top: -28px;
}

#boxes {
  color: #ffffff;
  height: 200px;
  text-align: justify;
  text-shadow: 1px 1px #000000;
  padding: 10px;
  margin-top: 20px;
  background-color: #9bb7c5;
  border: 2px solid white;
}

#boxes h2 {
  text-align: center;
  color: white;
}

.leftbox {
/*  background-color: #008B8B;
*/}

.middlebox {
/*  background-color: #FFF6DB;
*/}

.rightbox {
/*  background-color: #41D7D7;
*/}

.leftbox a.learnmore {
  position: absolute;
  bottom: 15px;
  left: 30px;  
  color: white;
  font-weight: bold;
}

.middlebox a.learnmore {
  position: absolute;
  bottom: 15px;
  left: 30px;  
  color: white;
  font-weight: bold;
}

.rightbox a.learnmore {
  position: absolute;
  bottom: 15px;
  left: 30px;  
  color: white;
  font-weight: bold;
}

.intro {
  width: 100%;
  height: auto;
  background-image: image-url('bridgelogo2.png');
}

.trainings-background {
  background-color: teal;
}





